@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sigmar&display=swap');

html, body {
  height: 100%; 
  margin: 0;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Cheeses {
  font-family: 'Luckiest Guy';
  font-size: 65px;
}

nav {
  border: 4px solid black;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


.blue, .red, .yellow, .green, .brown, .orange, .mario, .mario1 {
  border: 5px black solid;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-left: 70px;
  float: left;
  padding-top: 10px;
}

img {
  width: 250px;
  height: 200px;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: bisque;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}
button:hover {
  background: #fff;
  color: #000;
}

.Featured {
  font-family: 'Luckiest Guy';
  padding-left: 50px;
  font-size: 50px;
}

main {
  flex: 1;
}

article::after {
  content: "";
  display: block;
  clear: both;
}

footer {
  border: 5px black solid;
  font-size: 30px;
  font-family: 'Luckiest Guy';
  padding: 10px;
  width: 100%;
  text-align: center;
  background: #222;
  color: white;
}

a {
  color: blue;          
  text-decoration: none; 
  font-weight: bold;     
}

a:hover {
  color: red;           
  text-decoration: underline; 
}
#cartCounter {
font-family: Luckiest Guy;
font-size: 25px;
padding-left: 15px;
}
